@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/****** Début style global ******/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1, h2{
    font-family: 'Righteous', cursive;
    
}

p, h6, li {
    font-family: 'Roboto', sans-serif;
    
}
li {
    list-style-type: none;
}

/****** Début section informations place ******/

.information__place {
    
    background-color: black;
    &-block {
        text-align: center;
        padding: 10px;
    }
    &-block-text {
        
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        
    }
}

/****** Début section header ******/


.header {
    &__block-all {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__block-logo img {
        height: auto;
        width: 200px;
        object-fit: cover;
    
    }
    &__block-nav {
        display: flex;
       
        
    }
    &__block-list-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
    }
    li {
        text-transform: uppercase;
        font-weight: bold;
    }
}
            /****** Début section menu burger header ******/

   




/****** Début section main vidéo ******/


.section-main-video {
    
    width: 100%;
    height: 600px;
    position: relative;
}

.main-block-all {
    width: 100%;
    height: 600px;
}

.section-video-block {
    width: 100%;
    height: 600px;
    
}

.video-mobil {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.block__name-product {
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    color: white;
    h2 {
        padding: 2px;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: white;
        border-style: solid;
        border-width: 3px;
        border-image: linear-gradient(354deg, rgba(0,0,0,1) 0%, rgb(255,163,26)) 1;

    }
    
}

.block-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.block-text {
    text-align: center;
    color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.block-text p {
    background-color: white;
    color: black;
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    
}

.block-text h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.main-video-block-button {
    text-align: center;
    color: white;
    z-index: 3;
    background-color: black;
    display: flex;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.71);
    background: rgb(0,0,0);
    background: -moz-linear-gradient(354deg, rgba(0,0,0,1) 0%, rgba(255,163,26,1) 100%);
    background: -webkit-linear-gradient(354deg, rgba(0,0,0,1) 0%, rgba(255,163,26,1) 100%);
    background: linear-gradient(354deg, rgba(0,0,0,1) 0%, rgba(255,163,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffa31a",GradientType=1);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.main-video-block-button h2 {
    padding: 15px 15px 15px 30px;
    font-size: 18px;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.fa-angle-double-right {
    font-size:20px;
    padding-right: 30px;
}


@media screen and (min-width: 576px) {

    
    .section-main-video {
    
        width: 100%;
        height: 600px;
        
    }
    
    .main-block-all {
        width: 100%;
        height: 600px;
    }
    
    .section-video-block {
        width: 100%;
        height: 600px;
        
    }

    .video-mobil {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
    
    
    
    .bg {
       
        height: 600px;
        width: 100%;
    }
}

/****** Début block accroche ******/

.block__accroche {
    margin-top: 20px;
    &-text {
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
    &-text-under {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: center;
    }
}


/****** Début section avantages ******/


.avantages {
    display: none;
    margin: 30px;
    h2 {
        text-align: center;
    }
    
    &__block-all {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
    }
    &__col {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &__block-card {
        display: flex;
    }
    p {
        font-size: 13px;
        font-weight: 500;
        margin-left: 3px;
    }
    .fas, .far {
        color: rgb(30, 134, 182);
    }
}





